@charset "utf-8";

// Set your brand colors
$pink: #BCD9DA;
$white: #FFFFFF;
$purple: #A7C0CF;

// Update Bulma's global variables
$primary: $pink;
$text: $white;
$text-invert: $white;
$navbar-background-color: $pink;
$navbar-item-color: $white;
$navbar-item-hover-color: $purple;
$navbar-item-hover-background-color: $pink;
$box-background-color: $purple;

$content-heading-color: $white;

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/elements/box.sass";
@import "../node_modules/bulma/sass/elements/content.sass";

